/* ---------------------------------
This is a CSS file for DAP.js demo
*/

#drop { 
	position: relative; 
	margin: 20px auto; 
	max-width: 500px; 
	background-color: rgba(255, 255, 255, 0.10); 
	padding: 100px 20px 80px 20px; 
	outline: 2px dashed silver; 
	outline-offset: -10px;
	text-align: center;
}

#drop.hover { 
	outline-offset: -10px; 
	background-color: rgba(255, 255, 255, 0.15); 
}

#icon { 
	width: 100%; 
	fill: #9A2D4E; 
	margin-bottom: 30px; 
}

#file { 
	width: 0.1px; 
	height: 0.1px; 
	opacity: 0; 
	z-index: -1; 
}

#label { 
	cursor: pointer;
	font-weight: 600;
    font-size: larger;
    color: #404040;
    margin: 0;
}

#label:hover { 
	color: #9A2D4E; 
}

#select { 
	position: absolute; 
	left: 0; 
	right: 0; 
	visibility: hidden; 
}

#button { 
	font-size: 12px; 
	color: #fff;
	margin: 20px auto; 
	border: 0px; 
	background-color: #9A2D4E; 
	height: 40px; 
	padding: 0 30px; 
	border-radius: .1rem; 
	text-transform: uppercase; 
	cursor: pointer; 
	outline: none; 
}

#button:hover { 
	opacity: 0.8;
}

#status { 
	margin: 20px auto; 
	border: 1px solid #9A2D4E; 
	width: 70%; 
	height: 24px; 
	visibility: hidden; 
}

#bar { 
	background: #9A2D4E; 
	width: 0%; 
	height: 100%; 
}

#transfer { 
	color: silver;
	width: 100%; 
	line-height: 24px; 
	margin-top: -24px; 
}
